@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth; /* Añade desplazamiento suave */
}
/* ----------------------------- HEADER ----------------------------------*/
.cabeza{
    font-family: 'righteous';
    color: #5ce46e;
    background-color: #0d0e0f   ;
    position: fixed;
    width: 100%;
    height: 60px;
    top: 0;
    left: 0;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;


}
.cabeza h1 {
    margin: 0; 
    padding-left: 100px; /* Aumenta el padding para mover más a la derecha */
  }
  
  .cabeza h3 {
    margin-left: 0; 
  }

  .cabeza .menu {
    display: flex;
    gap: 25px;
    padding-right: 200px; 
}
.cabeza .menu a {
    text-decoration: none;  /* Elimina el subrayado */
    color: inherit;         /* Mantiene el color del contenedor cabeza */
    font-family: 'Righteous';
}
/* ----------------------------- INICIO ----------------------------------*/
.inicio {
    font-family: 'Righteous';
    color: white;
    background: url(img/fondo.jpeg);
    background-size: cover; 
    background-position: center; 
    height: 100vh; 
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.contenedor {
    background-color: #0d0e0f; 
    padding: 40px;
    border-radius: 20px;
    text-align: center;
}

.contenedor img {
    width: 200px;
    height: 200px;
    border-radius: 50%; 
    border: 5px solid #5ce46e; 

}

.contenedor h1, .contenedor p {
    margin: 10px 0;
}

.contenedorIconos {
    display: flex;
    justify-content: center;
    gap: 15px; 
    margin-top: 20px; 
    
}

.contenedorIconos svg {
    width: 50px; 
    height: 50px; 
    fill: #5ce46e; 

}

#linkedin{
    width: 40px;
    height: 40px;
    align-self: center;
}

/* ----------------------------- SOBRE MI ----------------------------------*/

.SobreMi {

    font-family: 'Righteous';
    color: white;
    background-color: #0d0e0f;
    height: 100vh; 

}

.SobreMi h1 {

    padding-top: 8%;
    font-size: 45px;
    text-align: center;
}

.SobreMi p {

    padding-top: 40px;
    max-width: 68%;
    margin: 0 auto;
}

/*------------------------- DATOS PERSONALES ---------------------------*/
.datosheader {
    padding-top: 100px;
    padding-left: 10%;
    max-width: 80%; 
    margin: 0 auto; 
    text-align: left;
}


.datos {
    padding-top: 20px; 
}

.datos ul {
    list-style: none; 
}

.datos ul li {
    margin-bottom: 10px; 
}

.datos ul li strong {
    color: #5ce46e; 
    display: inline-block;
    width: 100px; 
}

/*------------------------- INTERESES ---------------------------*/
.colIntereses{
   padding-top: 100px;
}