@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth; /* Añade desplazamiento suave */
}
/* ----------------------------- HEADER ----------------------------------*/
.cabeza{
    font-family: 'manrope';
    color: #5ce46e;
    background-color: #0d0e0f   ;
    position: fixed;
    width: 100%;
    height: 60px;
    top: 0;
    left: 0;
    z-index: 99;
    display: flex;
    justify-content: space-around;
    align-items: center;


}
.cabeza h1 {
    margin: 0; 
  }
  
  .cabeza h3 {
    margin-left: 0; 
  }

  .cabeza .menu {
    display: flex;
    gap: 25px;
}
.cabeza .menu a {
    text-decoration: none;  
    color: inherit;        
    font-family: 'manrope';
}
/* ----------------------------- INICIO ----------------------------------*/
.inicio {
    font-family: 'manrope';
    color: white;
    background: url(img/fondo.jpeg);
    background-size: cover; 
    background-position: center; 
    height: 100vh; 
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.contenedor {
    background-color: #0d0e0f; 
    padding: 40px;
    border-radius: 20px;
    text-align: center;
}

.contenedor img {
    width: 200px;
    height: 200px;
    border-radius: 50%; 
    border: 5px solid #5ce46e; 

}

.contenedor h1, .contenedor p {
    margin: 10px 0;
}

.contenedorIconos {
    display: flex;
    justify-content: center;
    gap: 15px; 
    margin-top: 20px; 
    
}

.contenedorIconos svg {
    width: 50px; 
    height: 50px; 
    fill: #5ce46e; 

}

#linkedin{
    width: 40px;
    height: 40px;
    align-self: center;
}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
}


/* ----------------------------- SOBRE MI ----------------------------------*/

.SobreMi {

    font-family: 'manrope';
    color: white;
    background-color: #0d0e0f;
    height: 100vh; 

}

.contenedortitulo {
    height: 200px;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items:end;
}

.SobreMi p {
    width: 1300px;
    margin: 0 auto;
    height: 125px;
    display: flex;
    align-items: end;
}

.datospersonales, .titulointereses{
    font-size: 35px;
    width: 300px;
    height: 65px;
}

/*------------------------- DATOS PERSONALES ---------------------------*/

.contenedorfila {
    height: 400px;
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}


.datosheader, .colIntereses {
    height: 250px;
    width: 500px;
}


.datos {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
}

.datos ul {
    list-style: none; 
}

.datos ul li {
   width: 500px;
   height: 40px;

}

.datos ul li strong {
    color: #5ce46e; 
    display: inline-block;
    width: 100px; 
}

.intereses {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.interes-item {
    display: flex;
    width: 150px;
    height: 60px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.interes-item i {
    font-size: 40px;
    color: #5ce46e;
    height: 50px;
    width: 60px;
    text-align: center;

}


.interes-item span {
    color: white;
    font-family: 'manrope';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 120px;
}
.contenedorboton{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.botoncv{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    border: 2px solid #fff;
    color: white;
    background-color: #5ce46e;
    font-family: 'manrope';
    padding: 10px;
    border-radius: 15px;
}

/* ---------------------- SECCION PROYECTOS --------------------------- */

.Proyectos{
    font-family: 'manrope';
    color: white;
    background-color: #0d0e0f;
    height: 100vh; 
}

.Proyectos h2 {
    margin-top: 100px;
    font-size: 35px;
}

.filaconocimientos{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.filaproyectos{
    width: 100%;
   
    display: flex;
    justify-content: center;
    align-items: center;
}
.headerconocimientos{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
}



.contenedorconocimientos{
    margin-top: 30px;
    gap: 70px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;


}

.conocimiento-item {
    height: 100px;
    max-width: 100px;
    display: flex;
    justify-content: center;
}

.conocimiento-item img{
    height: 100px;
    width: 100px;
    transition: .3s;
    border-radius: 10px;
}

.conocimiento-item img:hover{
   
    background-color:rgba(255, 255, 255, 0.1);
    box-shadow: 10px 10px 20px rgba(255, 255, 255, 0.2), 
                -10px -10px 20px rgba(255, 255, 255, 0.2); 

}

.headerproyectos{

    display: flex;
    justify-content: center;
    align-items: start; 
}

/* .contenedor-forma {
    width: 1200px;
    background-color: #1e2326;
    height: 300px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    border: 5px solid #1e2326; 
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.7), 
    -10px -10px 20px rgba(255, 255, 255, 0.2); 
  } */

  .contenedorproyectos{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  justify-content: center;
    justify-items: center;
    gap: 5%;
    margin-top: 20px;
  }

  .imagen-contenedor {
    position: relative;
 
}

.imagen-contenedor img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: 0.3s;
}

.imagen-contenedor img:hover {
    opacity: 0.3; 
}

.texto-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); 
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
    opacity: 0; 
    transition:  0.3s;
    
}


.imagen-contenedor:hover .texto-hover {
    opacity: 1; 
}

.proyecto-item{
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.proyecto-item img{
max-width: 300px;
max-height: 300px;
min-width: 300px;
min-height: 300px;
    border-radius: 10px;
    transition: .3s;
    
}

.proyecto-item img:hover{
   
    box-shadow: 10px 10px 20px rgba(255, 255, 255, 0.2), 
                -10px -10px 20px rgba(255, 255, 255, 0.2); 

}

.proyecto-item span {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
}

.contenedor-img{
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contenedor-img i{
    font-size: 30px;
}

.git-icon{
    color: #fff;
}

.game-icon{
    color: #fff;
}

.text-project{
    text-align: center;
}

/* -------------------------- CONTACTO -----------------------------  */



.Contacto {

    font-family: 'manrope';
    color: white;
    background-color: #0d0e0f;
    height: 100vh; 

}

.header-contacto{
    
    font-size: 35px
}

.fila-contacto{
    width: 65%;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    align-items: start;
    justify-content: space-around;
}

.header-contacto{
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-contacto{
    position: relative;
    display: block;
    justify-content: center;
    flex-direction: column;

}

.itemtxt input, .itemtxt textarea {
   
    width: 490px;
    padding: 18px;
    border: none;
    margin-bottom: 20px;
    background-color: #252a2e;
    color: #fff;
    font-size: 18px;
    }


.itemtxt textarea{
    resize: vertical;
}
    
.contenedor-imgubi{
 
    display: flex;
    justify-content: start;
    align-items: start;
}

.contenedor-imgubi img{
width: 470px;
height: 470px;
}